@page "/userweights"
@using Radzen.Blazor
@using Radzen
<link href="https://fonts.googleapis.com/css?family=Lato:400,700|Montserrat:700&display=swap" rel="stylesheet" >
<link rel="stylesheet" href="/css/styles.css">
@* <title>My Page</title> *@
@* <link rel="stylesheet" href="/css/styles.css" /> *@



<PageTitle>Weights</PageTitle>
<h1>Weights</h1>

@if (CurrentUser == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <RadzenButton ButtonStyle="ButtonStyle.Success" Icon="add_circle_outline" class="mt-2 mb-4" Text="Add New Weight" Click="@InsertRow" Disabled=@(weightToInsert != null || weightToUpdate != null) />
    <RadzenDataGrid @ref="grid" AllowAlternatingRows="false" AllowFiltering="true" AllowPaging="true" PageSize="5" AllowSorting="true" EditMode="DataGridEditMode.Single"
                Data="@weights" TItem="HealthyHands.Shared.Models.UserWeight" RowUpdate="@OnUpdateRow" RowCreate="@OnCreateRow" Sort="@Reset" Page="@Reset" Filter="@Reset" ColumnWidth="200px">
        <Columns>

            <RadzenDataGridColumn TItem="HealthyHands.Shared.Models.UserWeight" Property="Weight" Title="Weight" Frozen="true" Width="160px">
                <EditTemplate Context="weight">
                    <RadzenNumeric @bind-Value="weight.Weight" Style="width:100%; display: block" Name="Weight" />
                    <RadzenRequiredValidator Text="Weight is required" Component="Weight" Popup="true" />
                </EditTemplate>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="HealthyHands.Shared.Models.UserWeight" Property="WeightDate" Title="Date" Width="120px">
                <Template Context="weight">
                    @String.Format("{0:d}", weight.WeightDate)
                </Template>
                <EditTemplate Context="weight">
                    <RadzenDatePicker @bind-Value="weight.WeightDate" Style="width:100%" />
                </EditTemplate>
            </RadzenDataGridColumn>

            <RadzenDataGridColumn TItem="HealthyHands.Shared.Models.UserWeight" Context="weight" Filterable="false" Sortable="false" TextAlign="TextAlign.Right" Width="120px">
                <Template Context="weight">
                    <RadzenButton Icon="edit" ButtonStyle="ButtonStyle.Light" Variant="Variant.Flat" Size="ButtonSize.Medium" Click="@(args => EditRow(weight))" @onclick:stopPropagation="true">
                    </RadzenButton>
                    <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="delete" Variant="Variant.Flat" Shade="Shade.Lighter" Size="ButtonSize.Medium" class="my-1 ms-1" Click="@(args => DeleteRow(weight))" @onclick:stopPropagation="true">
                    </RadzenButton>
                </Template>
                <EditTemplate Context="weight">
                    <RadzenButton Icon="check" ButtonStyle="ButtonStyle.Success" Variant="Variant.Flat" Size="ButtonSize.Medium" Click="@((args) => SaveRow(weight))">
                    </RadzenButton>
                    <RadzenButton Icon="close" ButtonStyle="ButtonStyle.Light" Variant="Variant.Flat" Size="ButtonSize.Medium" class="my-1 ms-1" Click="@((args) => CancelEdit(weight))">
                    </RadzenButton>
                    <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="delete" Variant="Variant.Flat" Shade="Shade.Lighter" Size="ButtonSize.Medium" class="my-1 ms-1" Click="@(args => DeleteRow(weight))">
                    </RadzenButton>
                </EditTemplate>
            </RadzenDataGridColumn>

        </Columns>

    </RadzenDataGrid>


   }



<h2>Weight Graph</h2>
<RadzenChart @ref="chart">
    <RadzenLegend />
    <RadzenCategoryAxis>
        <RadzenAxisTitle Text="Date" />
    </RadzenCategoryAxis>
    <RadzenValueAxis>
        <RadzenAxisTitle Text="Weight" />
        <RadzenGridLines Visible="true" />
    </RadzenValueAxis>
    <RadzenLineSeries Data="@CurrentUser.UserWeights.OrderByDescending(w => w.WeightDate).Take(7)"
                      CategoryProperty="WeightDate"
                      ValueProperty="Weight"
                      Title="Weight"
                      Stroke="red">
        <RadzenMarkers MarkerType="MarkerType.Circle" />
        <RadzenSeriesDataLabels Visible="true" />
    </RadzenLineSeries>
</RadzenChart>


